/* styles.css */

body {
    background-image: url(none);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4b2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app-container {
    background-color: none;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(1, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 100%;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(2, 1, 14);
}
h2{
    
    font-size: 32px;
    margin-top: -17px;
    color: pink;
}
h6{
    margin-bottom: 10px;
}

label {
    font-size: large;
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input[type="number"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 16px);
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}
